.card {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  padding: var(--space-l);
  margin-bottom: var(--space-l);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: var(--shadow-large);
  }

  &__heading {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__title {
    font-size: var(--font-size-xl);
    margin-bottom: var(--space-xs);
  }

  &__subtitle {
    font-size: 16px;
    color: var(--color-text-muted);

    a {
      color: var(--color-text-muted);
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: var(--color-primary-rotate);
      }
    }
  }

  &__body {
    margin-top: 20px;
    gap: 20px;
  }

  &__content {
    font-size: 16px;
  }

  &__teams {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  &__action {
    margin-left: 10px;
  }
}