.navbar {
  display: flex;
  align-items: center;
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-m);
  margin-bottom: var(--space-xxl);
  background-color: (var(--color-white));
  ul {
    list-style: none;
    display: flex;
    align-items: baseline;
    height: 100%;
  }
  li {
    margin-right: var(--space-m);
  }
  a {
    text-decoration: none;
    color: var(--color-black);
  }

  &__logo {
    font-size: var(--font-size-xxl);
    font-weight: bold;
  }

  &__right {
    margin-left: auto;
  }
}
